/* CABEÇALHO.CSS */

.cabeçalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    background-color: white;
    width: 100%;
    max-width: 1200px;
    z-index: 12;
    flex-wrap: wrap; /* Adicionei flex-wrap para lidar com quebras de linha */
}

.Titulo {
    display: flex;
    color: #bb6363;
    font-family: 'BrownSugar';
    align-items: center;
}

.Titulo h3 {
    margin: 0;
    font-size: 2em; /* Ajuste conforme necessário */
}

.Titulo img {
    max-width: 80px; /* Ajuste conforme necessário */
    height: auto;
    margin-right: 10px;
}

ul {
    font-family: "Montserrat";
    list-style: none; /* Removi marcadores de lista */
}

#nav {
    margin-left: auto;
    display: flex;
    align-items: center; /* Centraliza verticalmente o menu */
}

#menu {
    list-style: none;
    padding: 0;
    display: flex;
}

#menu li {
    margin-right: 15px;
}

#menu li a {
    color: #bb6363;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    padding: 15px 20px;
    position: relative;
    display: inline-block;
}

#menu li a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #F57C64;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

#menu li a:hover:after {
    width: 100%;
    left: 0;
}

#btn-mobile {
    display: none;
}

@media(max-width: 760px) {
    .cabeçalho {
        width: 100%;
        justify-content: space-between; /* Garante espaçamento uniforme */
    }

    #nav {
        width: 100%; /* Ocupa toda a largura */
        justify-content: center; /* Centraliza o menu */
    }

    #menu {
        display: none; /* Oculta o menu na versão mobile */
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        text-align: center; /* Centraliza itens */
        background-color: white;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 999;
    }

    #menu.active {
        display: flex; /* Mostra o menu quando ativo */
        flex-direction: column;
    }

    #btn-mobile {
        display: block;
        font-family: 'Montserrat';
        margin: 5px;
        display: flex;
        gap: 10px;
        padding: .5rem 1rem;
        font-size: 1rem;
        height: 40px;
        border: none;
        background: none;
        cursor: pointer;
        margin: 32px;
    }
}



