/* SALÃO.CSS */

.prod0 h1 {
    font-size: 2em; /* Ajuste conforme necessário */
    color: #bb6363;
    text-align: center;
    font-family: "Montserrat";
    margin-bottom: 20px; /* Adiciona margem inferior */
}

.prod0 img {
    width: 100%;
    height: auto;
    margin: 20px auto; /* Centraliza e adiciona margem */
    display: block; /* Garante que a imagem seja exibida como bloco */
}

.tcc0, .tcc {
    display: flex;
    flex-wrap: wrap; /* Quebra em várias linhas em dispositivos menores */
    justify-content: center; /* Centraliza os elementos */
}

.Video {
    width: 100%;
    max-width: 500px; /* Limita a largura do vídeo */
    margin: 20px auto; /* Centraliza e adiciona margem */
}

.font2, .font3 {
    font-size: 2em; /* Ajuste conforme necessário */
    text-align: center;
    font-family: "Montserrat";
    color: #BB6363;
    margin-bottom: 20px; /* Adiciona margem inferior */
}

@media (min-width: 760px) {
    .tcc0, .tcc {
        flex-wrap: nowrap; /* Volta ao layout em linha */
    }

    .prod0 img {
        width: 50%; /* Reduz o tamanho da imagem */
        margin: 20px; /* Adiciona margem ao redor da imagem */
    }
}
